<div class="welcome-header">
  <h1> Welcome to the best web-poster of post-hardcore events in Minsk! </h1>
</div>
<hr class="kek"/>
<div class="primary-info">
  <p> There you'll be able to find where and when your favorite metal-bands rocks! </p>
</div>
